h1{
    text-shadow: 3px 2px 3px hsl(0, 100%, 61%) , -3px -3px 5px hsl(93, 100%, 28%);
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(148, 43, 43);
    box-shadow: 3px 3px 5px ;
}